html {
   box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100%;
    position: relative;
}

*, *:before, *:after{
    box-sizing: inherit
}

*{
    margin: 0;
    padding: 0;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: "Parkinsans", sans-serif !important;
    font-size: 1.6rem !important;
    height: 100%;
}

.btn{
    font-size: 1.3rem !important;
    border-radius: 5px !important;
}

.tituloHeader{
    font-size: 8rem;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 600;
    font-size: 35px;
    
}
.cursores{
    font-size: 3rem;
    color: black !important;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret { from, to { opacity: 1 } 50% { opacity: 0 } }

.subtitulos{
    margin-bottom: 30px;
    font-size: 40px;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 100vh;
    background-image: linear-gradient(to top, #ebbda759 0%, #557c93d5 100%),url(../img/banner1.2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.head{
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    
}

.logo-codigo{
    width: 120px;
}

.btnCV{
    position: absolute;
    right: 50px;
    bottom: 50px;
    font-size: 2rem !important;
}

.iconoMenu{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);    
    z-index: 999;
}

.menuNavegacion{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 15vw;
    height: 100%;
    background-image: linear-gradient(to top, #4b3f399c 0%, #557c93fa);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
    z-index: 999;
    font-size: 20px;
    font-weight: 600;
}

.spread{
    transform: translate(0);
}

.menuNavegacion a{
    color: #fff;
    text-decoration: none;
}

.contenedor-sobremi{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-sobremi img{
    width: 40%;
}

.sobremi-texto{
    width: 45%;
}

.sobremi{
    margin-bottom: 40px;
}

.sobremi p{
    text-align: justify;
}

.n-service{
    margin-bottom: 7px;
    color: #9f8ad0;
}

.experiencia{
    background: #f2f2f2;
}

.experiencia-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.experiencia-content .card{
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    /* background-image: linear-gradient(to top, #ebbda786 0%, #557c93e5); */
    background-color: #fcfcfc;
    padding: 20px 20px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.experiencia-content p{
    margin: 0;
}

.logoExperiencia{
    max-width: 180px;
    height: 70px;
    margin: 0 auto;
}

.logoExperienciaUniversidad{
    max-width: 200px;
    height: 70px;
    margin: 0 auto;
}

.logoExperienciaDacartec{

    margin: 0 auto;
}


/*************** PROYECTOS ***************/

.content-proyectos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.tab-pane {
    margin-top: 20px;
    display: flex !important; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.tab-pane .card{
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.tab-pane .card .card-title{
    font-size: 1.8rem;
}

.tab-pane .card .card-text{
    font-size: 1.2rem;
    text-align: justify;
}

.tecnologiaUsadas{
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;

}

.content-btn-proyectos{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.content-btn-proyectos i{
    color: black;
    font-size: 30px;
}

.btnProyectos{
    font-size: 2rem !important;
}

.content-tecnologias-usadas{
    display: flex;
    justify-content: space-around;
}

.tegnologia{
    background-color: #b6a9a9;
    padding: 5px;
    border-radius: 3px;
}

.tegnologia p{
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
}

.tegnologia i{
    font-size: 15px;
    color: red;
    vertical-align: middle;
}


/*************** SKILLS ***************/

.skill{
    background: #f2f2f2;
}

.skills-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}

.skills-content .card{
    flex: 1 1 calc(20% - 20px) ;
    /* max-width: calc(25% - 10px) ; */
}

.card{
    padding: 10px;
}

.card-title{
    font-size: 2rem;
}

.card-text{
    font-size: 1.3rem;
}

.logoSkills{
    margin: 0 auto;
    width: 80px;
    min-height: 100px;
    max-height: 100px;
    
}

.logoSkills:hover{
    cursor: pointer;
}

.mvc{
    width: 200px;
}

footer{
    background-image: linear-gradient(to top, #ebbda786 0%, #557c93e5);
    padding-bottom: 0.1px;
}

.footerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contactUs{
    width: 40%;
    /* color: #FFF; */
    color: black;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.solcialMedia{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.socialMediaIcon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    bottom: 1px solid #ffff;
    border-radius: 50px;
    text-align: center;
    color: #fff;
}

.socialMediaIcon:hover{
    background-color: #fff;
    color: #764ba2;
}

.socialMediaIcon i{
    font-size: 50px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 12000px;
    margin: 0 auto;
    height: 2px;
    background: #ffff;
    margin-bottom: 60px;
}

.contenedorGaleria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgGallery{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
    cursor: pointer;
}

.imagenLight{
    position: fixed;
    background: rgb(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregaImagen{
    object-fit: cover;
    max-width: 280px;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.agregaImagen img{
    max-width: 30%;
}


.showImagen{
    transform: scale(1); 
}

.close{
    position: absolute;
    top: 50px;
    right: 80px;
    width: 40px;
    cursor: pointer;
}

.tiempo{
    position: absolute;
    bottom: 190px;
    font-size: 3rem;
    color: white;
}

.modal-body{
    padding: 30px !important; 
}

.textoModal{
    font-size: 1.2rem;
    text-align: justify;
}

/* *********** MEDIA QUERYS ***************** */

@media screen and (max-width: 1224px){
    .card-text{
        font-size: 1.2rem;
    }

    .experiencia-content .card {
        flex: 1 1 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
        
    }
}

@media screen and (max-width: 800px){
    .menuNavegacion{
        width: 50vw;
    }

    .logo-codigo{
        width: 80px;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-sobremi img{
        width: 80%;
        margin-bottom: 40px;
    }

    .sobremi-texto{
        width: 80%;
    }

    .sobremi{
        margin-bottom: 30px;

    }

    .agregarImagen{
        width: 80%;
    }

    .imgGallery{
        width: 45%;

    }

    .contentExperts{
        width: 80%;
    }

    .footerContent{
        justify-content: center;

    }

    .solcialMedia{
        width: 80%;
        justify-content: space-evenly;
    }

    .solcialMedia i{
        margin-left: 0;
    }

    .contactUs{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

    .tituloHeader{
        font-size: 3em;
    }

    .copy{
        font-weight: 600;
        font-size: 20px;
    }

    .agregaImagen{
        max-width: 185px;
    }
    

    .btnCV{
        position: inherit;
        margin-top: 100px;
        font-size: 1.6rem !important;
    }

    .logoSkills{
        width: 70px;
        height: 20px;
    }

    .experiencia-content .card {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 576px){
    .menuNavegacion{
        width: 65vw;
    }

    .logo-codigo{
        width: 50px;
    }

    .iconoMenu{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitutlo{
        font-size: 30px;
    }

    .imgGallery{
        width: 95%;

    }

    .socialMediaIcon{
        margin-left: 0;
    }

    .solcialMedia{
        width: 100%;
    }

    .contactUs{
        width: 90%;
    }

    .experiencia-content .card {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
        
    }

    .subtitulos{
        font-size: 30px
    }
    
}





/* Media Queries para ajustar en dispositivos más pequeños */
/* @media (max-width: 1200px) {
    .skills-content .card {
        flex: 1 1 calc(25% - 20px); 
        max-width: calc(25% - 20px);
    }
}

@media (max-width: 992px) {
    .skills-content .card {
        flex: 1 1 calc(33.33% - 20px); 
        max-width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .skills-content .card {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }

    .experiencia-content .card {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .skills-content .card {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }

    .experiencia-content .card {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
        
    }
}
 */

.gallerySkill{
    display: flex;
    width: 300px;
    height: 140px;
}

.gallerySkill img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    
}

.gallerySkill img:hover{
    cursor: crosshair;
    width: 170px;
    
    opacity: 1;
    filter: contrast(120%);
}

.content-skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
}

.element-skill{
    background-color: white;
    padding: 5px;
    border: solid 1px black;
    border-radius: 10px;
    /* width: calc(15% - 10px); */
    text-align: center;
}





